<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="joinExistingModalLabel">Create Household</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <small class="form-text text-muted">Members of the same household will not be matched together.</small>
            <br>
            <h6>Current Households:</h6>
            <!-- <ui class="list-group">
                <li class="list-group-item"><b>{{householdName}}</b></li>
            </ui> -->
            <div *ngFor="let h of houseHolds">
                {{h.name}}
            </div>
            <hr>
            <h6>New Household:</h6>
            <form>
                <div class="form-group">
                    <label for="householdName">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="householdName" name="householdName">
                </div>

                <p>Select members of household:</p>
                <div class="form-check" *ngFor="let p of participants">
                    <input class="form-check-input" type="checkbox" value="{{p.name}}">
                    <label class="form-check-label">
                        {{p.name}}
                    </label>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="getHouseHoldParticipants()">Submit</button>
        </div>
    </div>
</div>