<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="questionnaireModal">Join {{group.groupName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col">
                        <label for="participantName">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.name" name="participantName"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="participantColor">Favorite Color</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.color" name="participantColor">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="participantFood">Favorite food/candy/snack</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.food" name="participantFood">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="participantTeam">Favorite sports team(s) and/or fictional character</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.team" name="participantTeam">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="participantScent">Favorite scent for the home</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.scent" name="participantScent">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="participantStore">Stores I love just about everything</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.store" name="participantStore">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="participantGadget">Gadgets/tools I want</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.gadget"
                            name="participantGadget">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="participantEnough">Thanks, but I have enough</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.enough"
                            name="participantEnough">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="participantEnjoy">I think I would really enjoy</label>
                        <input type="text" class="form-control" [(ngModel)]="participant.enjoy" name="participantEnjoy">
                    </div>
                </div>

                <div >
                    <input type="checkbox" [(ngModel)]="participant.homemade" name="participantHomemade">
                    <label for="participantHomemade" class="checkbox-label">I would enjoy a homemade gift from my Santa</label>
                </div>

                <div class="form-group">
                    <label for="participantMisc">Anything Else:</label>
                    <input type="text" class="form-control" [(ngModel)]="participant.misc" name="participantMisc">
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-sm" (click)="submit()">Submit</button>
            </form>
        </div>
    </div>
</div>