<br>
<div class="col-lg-2 padding-b-5">
    <app-add-group></app-add-group>
</div>



<!-- Cards  -->
<div class="card-deck" style="margin-top: 25px">
    <div class="col-xs-2 col-sm2 col-md-2 col-lg-2 col-xl-2 padding-b-5" *ngFor="let group of groups">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="/Group/{{group.groupName}}" class="card-link">{{group.groupName}}</a></h5>
                <p>${{group.dollarMinimum}}-${{group.dollarMaximum}}</p>
                <p><b>Deadline: </b>{{group.groupDeadline}}</p>
                <b>Rules:</b>
                <p class="card-text">{{group.groupRules}}</p>
                <a href="/Group/{{group.groupName}}/superSecretAdmin" class="card-link">Add Households</a>
            </div>
        </div>
    </div>
</div>