<div class="card card--body card--filter">
    <!-- Filter Bar -->
    <div class="card card--body card--filter">
        <!-- Right Side -->
        <div class="display-flex flex-flow-row flex-fill-0-1 margin-l-auto">
            <div class="form-field display-inline-flex flex-flow-column justify-content-center margin-l-2 margin-r-0">
                <div class="margin-t-auto">
                    <app-add-group></app-add-group>
                </div>
            </div>
        </div>
    </div>
</div>




