<app-navbar></app-navbar>
<br>
<div class="m20">

    <h3>Create Group</h3>
    <form>
        <fieldset>
            <div class="form-group">
                <label class="col-form-label">Name</label>
                <input type="text" class="form-control" placeholder="ex: Family Secret Santa" [(ngModel)]="group.groupName"
                    name="group.groupName">
                <small class="form-text text-muted">This is the name of the Secret Santa Group that will be shared with the participants</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Description</label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="group.groupDescription"
                    name="groupDescription">
                <small class="form-text text-muted">Mention any additional rules here.</small>
            </div>

            <div class="form-group">
                <label class="col-form-label">Exchange Date</label>
                <input type="date" class="form-control" placeholder="MM/DD/YYYY" [(ngModel)]="group.groupDeadline"
                    name="groupDeadline">
                <small class="form-text text-muted">The date the group will exchange dates.</small>
            </div>

            <button type="submit" class="btn btn-primary" (click)="createGroup()">Create Group</button>
        </fieldset>
    </form>
</div>