
<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">
        {{group.groupName}} 
    </div>
    <div class="card-body">
        <!-- <h4 class="card-title">Primary card title</h4> -->
        <p class="card-text">Date: {{group.groupDeadline | date}}</p>
        <p class="card-text">{{group.groupDescription}}</p>
        <p class="card-text">${{group.dollarMinimum}} - ${{group.dollarMaximum}}</p>
        <a href="/group/{{group.guid}}" class="stretched-link"></a>
    </div>
</div>