/* You can add global styles to this file, and also import other style files */

  body {
    background: url('../src/assets/background.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #footer {
    position: absolute;
    bottom: 0;
    height: 5rem;            /* Footer height */
  }