<div class="transp">
    <ol>
        <li>Request a message with a link to your group's URL.</li>
        <li>Click 'Join Group'</li>
        <li>Fill out the form. <b>It is important to answer honestly!</b></li>
        <li>Wait for an email from SensationalSecretSanta@gmail.com with your match! (You may need to check your junk
            folder)</li>
    </ol>
</div>
<br>
<br>
You can view the source code on <a href='https://github.com/allisontharp/SecretSanta'>Github</a> and read my thoughts
on this on <a href='https://www.techtrek.io/categories/Personal-Projects/Secret-Santa/'>TechTrek.</a>
<br>
<small>This was built in about a day. There are bugs. Please go easy on me.</small>